<!doctype html>
<html>
<head>
	<title>Rossmann Forecasting API</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style> 
		body{
			background-color: #353b42;
		}
		h1{
			color: #fff;
		}
		a{
			color: #55b39d;
		}
		a:link {
			text-decoration: none;
			color: #fff;
		}
		a:hover{
			text-decoration: none;
			color: #353b42;
			background-color: #55b39d;
		}
	</style>
</head>
<body>
	<h1>Visite o <a href="https://github.com/PatrickRudgeri/rossmann-forecasting-webapi"> repositório no Github</a> para ver detalhes do funcionamento da API.</h1>
</body>
</html>
